<%- include logged-in-header.ejs %>

<h1>Bodybuilding</h1> <br>

<p>Our goal is to create time under tension. Really get that mind-muscle connection when perfomring the exercises. Do this 4 times a week with 3 days off, or go 4 days on, 1 day off, repeat.</p>

<h2>Day 1: Chest and Triceps</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Bench Press</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Incline DB Press</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Machine Press (Any Type)</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
      
          <tr>
      <th scope="row">4</th>
      <td>Cable Flyes / DB Flyes / Machine Fly (pick one)</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
          <tr>
      <th scope="row">5</th>
      <td>Tricep Extension with a cable</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
          <th scope="row">6</th>
      <td>Skull Crusher</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
      
      
  </tbody>
</table>



<h2>Day 2: Back and Biceps</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Row</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pullups</td>
      <td>4 x Failure</td>
      <td>Go until failure. </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Machine Row</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
      
          <tr>
      <th scope="row">4</th>
      <td>Lat Pulldown</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
          <tr>
      <th scope="row">5</th>
      <td>Straight Arm Pulldown</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
          <th scope="row">6</th>
      <td>Bicep Curl (barbell/DB/Cable)</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
      
      
  </tbody>
</table>


<h2>Day 3: Legs</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Squat</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Leg Press</td>
      <td>4 x Failure</td>
      <td>Go until failure. </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Romainian Deadlifts</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
      
          <tr>
      <th scope="row">4</th>
      <td>Lunges</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
          <tr>
      <th scope="row">5</th>
      <td>Quad Extensions</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
          <th scope="row">6</th>
      <td>Hamstring Curls</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
      
      
  </tbody>
</table>



<h2>Day 4: Shoulders</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Shoulder Press</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>DB Shoulder Press</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Side Raise</td>
      <td>4 x 12</td>
      <td>A weight where you can do 12 reps for 4 sets. The 12th rep should be close to failure.</td>
    </tr>
      
          <tr>
      <th scope="row">4</th>
      <td>Facepulls</td>
      <td>4 x 6-8</td>
      <td>A weight where you can do 6-8 reps for 4 sets. The 6-8th rep should be close to failure.</td>
    </tr>
          
      
  </tbody>
</table>

<br>
