<%- include logged-in-header.ejs %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">

<h1>Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<br> <h1>Workout Plans By Category</h1>

 <ul class="lead mb-3">
      <li class="nav-item active">
        <a href="/workouts/strength-training" class="btn btn-secondary">Strength Training</a>
        <a href="/workouts/bodybuilding" class="btn btn-secondary">Bodybuilding</a>
  
          
      </li>
</ul>


    </div>
</div>