<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">
      <a class="navbar-toggler" href="/dashboard" style="background-color: white", text-color: black>Dashboard</a>
  </form>
          <a class="navbar-toggler" href="/users/logout" style="background-color: white", text-color: black>Logout</a>

</nav>


