<%- include logged-in-header.ejs %>

<h1>Strength Training</h1> <br>

<p>Our goal is to make as much progression on our main lifts, the squat, deadlift and bench press.</p>

<h2>Day 1</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Squat</td>
      <td>5x5</td>
      <td>A weight where you can do 5 reps for 5 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Barbell Deadlift</td>
      <td>2x5</td>
      <td>A weight where you can do 5 reps for 2 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Barbell Bench Press</td>
      <td>2x5</td>
      <td>A weight where you can do 5 reps for 2 sets. The 5th rep should be close to failure.</td>
    </tr>
  </tbody>
</table>

<br>

<h2>Day 2</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Squat</td>
      <td>5x5</td>
      <td>A weight where you can do 5 reps for 5 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Barbell Deadlift</td>
      <td>5x5</td>
      <td>A weight where you can do 5 reps for 5 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Barbell Overhead Press</td>
      <td>3x5</td>
      <td>A weight where you can do 5 reps for 3 sets. The 5th rep should be close to failure.</td>
    </tr>
  </tbody>
</table>

<br>


<h2>Day 3</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exercise</th>
      <th scope="col">Rep Range (Sets x Reps)</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Barbell Squat</td>
      <td>2x5</td>
      <td>A weight where you can do 5 reps for 2 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Barbell Bench Press</td>
      <td>5x5</td>
      <td>A weight where you can do 5 reps for 5 sets. The 5th rep should be close to failure.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Barbell Rows</td>
      <td>3x5</td>
      <td>A weight where you can do 5 reps for 5 sets. The 5th rep should be close to failure.</td>
    </tr>
  </tbody>
</table>